
# mac
._*
__MACOSX
.DS_Store

# win
*~
Thumbs.db
desktop.ini

# go build artifacts
/bin/
/pkg/
/app/anubot-server
*.coverprofile

# vim
*.swp

# node packages
node_modules

# app build artifacts
/app/lib/
