
#chat-tab {
    * {
        -webkit-user-select: text;
    }

    .header {
        position: fixed;
        width: 100%;
        background: rgba(250, 250, 250, 0.95);

        .channel {
            font-size: 25px;
            margin: 12px 20px 5px 20px;
        }
        .description {
            margin: 5px 20px 15px 20px;
        }
    }
    .header {
        .description {
            .edit {
                display: none;
                font-size: 16px;
            }
            &:hover {
                .edit {
                    display: inline;
                }
            }
            .input {
                ol {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    position: fixed;
                    top: 88px;
                    background-color: white;
                    z-index: 50;

                    li {
                        height: 40px;
                        line-height: 40px;
                        margin: 5px;

                        &.selected{
                            color: white;
                            background-color: rgb(33, 37, 43);
                        }

                        img {
                            vertical-align: bottom;
                            margin-right: 10px;
                        }

                        .name {
                            margin-right: 10px;
                        }
                    }
                }
                .error {
                    margin: 0;
                    padding: 10px;
                    position: fixed;
                    top: 88px;
                    background-color: white;
                    z-index: 49;
                    font-weight: bold;
                    color: #d01800;
                }

                .game-input {
                    width: 175px;
                }
                .status-input {
                    width: 350px;
                }
            }
        }
    }
    .body {
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;

        .spacer {
            flex-grow: 1;
            flex-shrink: 2;
        }
        .message {
            margin: 0;
            padding: 1px 0;
            line-height: 28px;

            &.whisper {
                background-color: rgba(0, 0, 0, 0.05);
            }
            &.action {
                font-style: italic;
            }

            .mention {
                background-color: black;
                color: white;
                display: inline-block;
                padding: 4px 7px;
            }
            .badges {
                img {
                    margin: 0 2px;
                    vertical-align: middle;
                    -webkit-user-select: none;
                }
            }
            .nick {
                margin-left: 3px;
                font-weight: 900;
                color: black;
            }
            .target {
                font-weight: 900;
            }
            img.emoji {
                vertical-align: middle;
            }
        }
    }
    .footer {
        display: flex;
        position: fixed;
        width: 100%;
        bottom: 0;
        background: rgba(250, 250, 250, 0.95);

        .selection {
            padding: 5px 5px 5px 10px;
        }
        .input {
            padding: 5px 10px 5px 5px;
            flex-grow: 1;
            display: flex;

            .form {
                flex-grow: 1;

                input {
                    width: 100%;
                }
            }
            .spacer {
                flex-grow: 1;
            }
        }
    }
}
