
#chat-tab {
    * {
        -webkit-user-select: text;
    }

    display: flex;
    flex-direction: column;

    .header {
        position: fixed;
        width: 100%;
        padding: 8px 0;
        background: rgba(36, 38, 46, 0.96);
        color: #bbbfc8;

        .channel {
            font-size: 25px;
            margin: 12px 20px 5px 20px;
        }
        .description {
            margin: 5px 20px 15px 20px;

            .edit {
                display: none;
                font-size: 16px;
            }
            &:hover {
                .edit {
                    display: inline;
                }
            }
            .input {
                ol {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    position: fixed;
                    top: 88px;
                    background-color: white;
                    z-index: 50;

                    li {
                        height: 40px;
                        line-height: 40px;
                        margin: 5px;

                        &.selected{
                            color: white;
                            background-color: rgb(33, 37, 43);
                        }

                        img {
                            vertical-align: bottom;
                            margin-right: 10px;
                        }

                        .name {
                            margin-right: 10px;
                        }
                    }
                }
                .error {
                    margin: 0;
                    padding: 10px;
                    position: fixed;
                    top: 88px;
                    background-color: white;
                    z-index: 49;
                    font-weight: bold;
                    color: #d01800;
                }

                .game-input {
                    width: 175px;
                }
                .status-input {
                    width: 350px;
                }
            }
        }
    }
    .body {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        font-family: "Roboto";

        .spacer {
            flex-grow: 1;
            flex-shrink: 2;
        }
        .message {
            font-size: 15px;
            margin: 0;
            padding: 0;
            line-height: 28px;

            &.whisper {
                background-color: rgba(0, 0, 0, 0.05);
            }
            &.action {
                font-style: italic;
            }

            .mention {
                background-color: #e9e9e9;
                color: black;
                display: inline-block;
                padding: 0 5px;
            }
            .timestamp {
                display: inline-block;
                width: 30px;
                font-size: 12px;
                margin-right: 5px;
                color: #4b4e5d;
            }
            .badges {
                img {
                    margin: 0 2px;
                    vertical-align: middle;
                    -webkit-user-select: none;
                }
            }
            .nick {
                margin-left: 3px;
                font-weight: 500;
                color: black;
            }
            .target {
                font-weight: 900;
            }
            img.emoji {
                vertical-align: middle;
            }
        }
    }
    .footer {
        bottom: 0;
        background-color: #1b1c23;

        .footer-container {
            background-color: #24262e;
            border-radius: 5px;
            border: 2px solid #4a4d5c;
            height: 42px;
            margin: 20px;
            display: flex;

            a {
                width: 42px;
                border-right: 2px solid #4a4d5c;

                display: block;
                float: left;
                color: #4a4d5c;
                font-size: 23px;
                text-align: center;
                line-height: 36px;

                &#streamer-select {
                    font-size: 25px;
                }

                &:hover {
                    color: #aaacb7;
                }
                &.active {
                    color: #aaacb7;
                    background-color: #4a4d5c;
                }
            }

            .form {
                flex-grow: 1;

                form {
                    display: flex;

                    input {
                        font-family: Roboto;

                        flex-grow: 1;
                        font-size: 15px;
                        height: 38px;
                        padding-left: 15px;
                        border: 0;
                        background: none;
                        color: #4a4d5c;
                    }
                }
            }
        }
    }
}
