
// minimal css reset
html, body {
    width: 100%;
    height: 100%;
    background-color: #24272f;
    background-image: url(../../assets/images/gradient-background.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
    padding: 0;
    margin: 0;
    color: white;
}

body, div, span, p, li {
    -webkit-user-select: none;
    cursor: default;
}

textarea, input, button {
    font-family: 'Dosis', sans-serif;
    outline: none;
}

#app {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

#drag-area {
    position: absolute;
    z-index: 999999;
    width: 100vw;
    height: 15px;
    -webkit-app-region: drag;
}

.tab {
    flex-grow: 1;

    // light mode
    //color: rgb(74, 76, 78);
    //background-color: rgb(237, 235, 237);

    background-color: #1b1c23;
    color: #797b83;

    .body {
        height: 100vh;
        overflow: auto;
        padding: 20px;
    }
}

.text-input {
    padding: 3px;
    outline-width: 0;
    border: 1px solid #acb1b8;

    &::-webkit-input-placeholder {
        color: #555;
    }
}

.select-input {
    padding: 3px;
    border: 1px solid #acb1b8;
}

#modal-spinner {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar              {
    width: 10px;
    border-radius: 5px;
    background-color: #31333d;
}
::-webkit-scrollbar-button       {
    display: none;
}
::-webkit-scrollbar-thumb        {
    background-color: #4a4d5c;
    border-radius: 5px;
}
::-webkit-scrollbar-corner       {
    display: none;
}
::-webkit-resizer                {
    display: none;
}
